/* src/components/PopupMenu.css */
.popup-menu {
    width: 20%;
    padding: 1rem;
    background-color: #FFE6EC; /* Light Pink */
    border-left: 1px solid #D8A7B1; /* Dusty Rose */
  }
  
  .popup-menu-list {
    list-style: none;
    padding: 0;
  }
  
  .popup-link {
    text-decoration: none;
    color: #C2E7D9; /* Mint Green */
  }
  