.dessert-grid {
    display: flex;
    gap: 10px;
  }
  
  .dessert-card {
    padding: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .dessert-card:hover {
    transform: scale(1.05);
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 16, 49, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .modal-content {
        width:70%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
      }
  }
  

  .modal-content > div {
    margin-top: 15px;
  }
  
  .modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .modal-content button:not(.close-btn) {
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .modal-content button:not(.close-btn):hover {
    background-color: #eee;
  }
  