/* src/css/Footer.css */

/* The entire footer container */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #d8a7b1; /* Milk Pink */
    border-bottom: 1px solid #D8A7B1; /* Dusty Rose */
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .site-title {
    margin: 0 1rem 0 0;
    color: #FFFFFF; /* White text */
    font-family:cursive;
  }
  
  .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #FFFFFF; /* White search bar */
    border: 2px solid #7B4B39; /* Cocoa Brown border */
    border-radius: 4px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #7B4B39; /* Mint Green */
    cursor: pointer; /* Ensures the pointer cursor */
    text-decoration: none; /* Optional: Removes underline */
    padding: 5px 10px; /* Optional: Adds some spacing */
    display: inline-block; /* Ensures it behaves like a button */
  }
  
  .nav-link:hover {
    color: #5a5a5a00; /* Optional: Change color on hover */
  }
  