.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #d8a7b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  height:fit-content;
}

/* Left section: hamburger + logo */
.header-left {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex: 1;
}

.hamburger-toggle {
  background: #d8a7b1;
  border: none;
  color: #7B4B39;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger-toggle:hover {
  background: #fddce1;
}

.logo {
  width: 100%; /* Adjust logo size */
  height: 100%;
  min-width: 250px; 
  max-width: 300px;
}

/* Center section: search bar */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}


.search-input {
  padding: 0.35rem 0.5rem;
  font-size: 0.95rem;
  border: 2px solid #7B4B39;
  border-radius: 4px;
  width: 220px;
  margin-left: 5%;
}

/* Right section: nav links */
.nav-links {
  display: flex;
  gap: 14px;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  font-size: med;
}

.nav-link {
  text-decoration: none;
  color: #7B4B39;
  padding: 4px 8px;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #fddce1;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: right;
    padding: 0.5rem;
  }

  .header-left {
    flex-direction: left;
    width: 100%;
  }

  .nav-links {
    width: 100%;
    padding: 0.2rem 0;
  }

  .nav-link {
    width: 100%;
  }
  .logo {
    width: 40px;
  }
  .hamburger-toggle {
    font-size: 1rem; /* Even smaller */
    padding: 0rem;
    margin-right: 0.25rem;
  }
}



