.bi-star-fill {
    color: rgb(250, 224, 108);
    outline-color:rgb(109, 81, 21);
}

.bi-star-half {
    color: rgb(250, 224, 108);
    outline-color:rgb(109, 81, 21);
}

.bi-star {
    color: rgb(250, 224, 108);
    outline-color:rgb(109, 81, 21);
}