.bi-star-fill {
    color: #f5c518;
    outline-color:rgb(109, 81, 21);
}

.bi-star-half {
    color: #f5c518;
    outline-color:rgb(109, 81, 21);
}

.bi-star {
    color: #f5c518;
    outline-color:rgb(109, 81, 21);
}